In [1]:
import pandas as pd

In [2]:
# Load the Air Quality dataset
air_quality_data = pd.read_csv('Downloads\\Air-Quality.csv')

# Display the first few rows of the dataset
print(air_quality_data.head())

   Ozone  Solar.R  Wind   Temp  Month  Day  Unnamed: 6  Unnamed: 7  patient_id
0      2        1  41.0  190.0    7.4   67           5           1         1.0
1      3        2  36.0  118.0    8.0   72           5           2         2.0
2      4        3  12.0  149.0   12.6   74           5           3         3.0
3      5        4  18.0  313.0   11.5   62           5           4         5.0
4      6        5   NaN    NaN   14.3   56           5           5         8.0

In [3]:
# Check for missing values
print(air_quality_data.isnull().sum())

Ozone          0
Solar.R        0
Wind          37
Temp           7
Month          0
Day            0
Unnamed: 6     0
Unnamed: 7     0
patient_id     0
dtype: int64

In [4]:
# Drop rows with missing values
air_quality_data = air_quality_data.dropna()

In [5]:
# Check for duplicates
print(air_quality_data.duplicated().sum())

0

In [6]:
# Drop duplicates
air_quality_data = air_quality_data.drop_duplicates()

In [7]:
# Check the data types of columns
print(air_quality_data.dtypes)

Ozone           int64
Solar.R         int64
Wind          float64
Temp          float64
Month         float64
Day             int64
Unnamed: 6      int64
Unnamed: 7      int64
patient_id    float64
dtype: object

In [8]:
# Check the data types of columns
print(air_quality_data.dtypes)

Ozone           int64
Solar.R         int64
Wind          float64
Temp          float64
Month         float64
Day             int64
Unnamed: 6      int64
Unnamed: 7      int64
patient_id    float64
dtype: object

In [13]:
# Remove unnecessary columns
air_quality_data = air_quality_data.drop(['Unnamed: 6', 'Unnamed: 7'], axis=1)

In [14]:
air_quality_data

     Ozone  Solar.R  Wind   Temp  Month  Day    patient_id
0        2        1  41.0  190.0    7.4   67  1.000000e+00
1        3        2  36.0  118.0    8.0   72  2.000000e+00
2        4        3  12.0  149.0   12.6   74  3.000000e+00
3        5        4  18.0  313.0   11.5   62  5.000000e+00
6        8        7  23.0  299.0    8.6   65  2.100000e+01
..     ...      ...   ...    ...    ...  ...           ...
147    149      148  14.0   20.0   16.6   63  6.161310e+30
148    150      149  30.0  193.0    6.9   70  9.969220e+30
150    152      151  14.0  191.0   14.3   75  2.609970e+31
151    153      152  18.0  131.0    8.0   76  4.223030e+31
152    154      153  20.0  223.0   11.5   68  6.833000e+31

[111 rows x 7 columns]

In [15]:
# Rename columns if needed
air_quality_data = air_quality_data.rename(columns={'Solar.R': 'solar'})
air_quality_data

     Ozone  solar  Wind   Temp  Month  Day    patient_id
0        2      1  41.0  190.0    7.4   67  1.000000e+00
1        3      2  36.0  118.0    8.0   72  2.000000e+00
2        4      3  12.0  149.0   12.6   74  3.000000e+00
3        5      4  18.0  313.0   11.5   62  5.000000e+00
6        8      7  23.0  299.0    8.6   65  2.100000e+01
..     ...    ...   ...    ...    ...  ...           ...
147    149    148  14.0   20.0   16.6   63  6.161310e+30
148    150    149  30.0  193.0    6.9   70  9.969220e+30
150    152    151  14.0  191.0   14.3   75  2.609970e+31
151    153    152  18.0  131.0    8.0   76  4.223030e+31
152    154    153  20.0  223.0   11.5   68  6.833000e+31

[111 rows x 7 columns]

In [16]:
heart_disease_data = pd.read_csv('Downloads\\Heart.csv')
heart_disease_data

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [17]:
# Concatenate the datasets column-wise
merged_data = pd.concat([air_quality_data, heart_disease_data], axis=1)
merged_data

,Ozone,solar,Wind,Temp,Month,Day,patient_id,Unnamed: 0,Age,Sex,...,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,2.0,1.0,41.0,190.0,7.4,67.0,1.0,1,63,1,...,233,1,2,150,0,2.3,3,0.0,fixed,No
1,3.0,2.0,36.0,118.0,8.0,72.0,2.0,2,67,1,...,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,4.0,3.0,12.0,149.0,12.6,74.0,3.0,3,67,1,...,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,5.0,4.0,18.0,313.0,11.5,62.0,5.0,4,37,1,...,250,0,0,187,0,3.5,3,0.0,normal,No
6,8.0,7.0,23.0,299.0,8.6,65.0,21.0,7,62,0,...,268,0,2,160,0,3.6,3,2.0,normal,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299,45,1,...,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,68,1,...,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301,57,1,...,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302,57,0,...,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303,38,1,...,175,0,0,173,0,0.0,1,NaN,normal,No

In [19]:
# Save the merged dataset to a new file
merged_data.to_csv('merged_dataset.csv', index=False)

In [20]:
# Load the merged dataset
merged1_data = pd.read_csv('merged_dataset.csv')

In [21]:
# Display the first few rows of the merged dataset
print(merged_data.head())

   Ozone  solar  Wind   Temp  Month   Day  patient_id  Unnamed: 0  Age  Sex  \
0    2.0    1.0  41.0  190.0    7.4  67.0         1.0           1   63    1
1    3.0    2.0  36.0  118.0    8.0  72.0         2.0           2   67    1
2    4.0    3.0  12.0  149.0   12.6  74.0         3.0           3   67    1
3    5.0    4.0  18.0  313.0   11.5  62.0         5.0           4   37    1
6    8.0    7.0  23.0  299.0    8.6  65.0        21.0           7   62    0

   ... Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  Slope   Ca        Thal  AHD
0  ...  233    1        2    150      0      2.3      3  0.0       fixed   No
1  ...  286    0        2    108      1      1.5      2  3.0      normal  Yes
2  ...  229    0        2    129      1      2.6      2  2.0  reversable  Yes
3  ...  250    0        0    187      0      3.5      3  0.0      normal   No
6  ...  268    0        2    160      0      3.6      3  2.0      normal  Yes

[5 rows x 22 columns]

In [22]:
# Perform data transformation steps
# Example: Scaling numeric variables using Min-Max scaling
from sklearn.preprocessing import MinMaxScaler

In [26]:
# Select the numeric columns to be scaled
numeric_columns = ['Ozone', 'solar', 'Age']
numeric_columns

['Ozone', 'solar', 'Age']

In [27]:
# Create a scaler object
scaler = MinMaxScaler()
scaler

MinMaxScaler()

In [28]:
# Scale the numeric columns
merged_data[numeric_columns] = scaler.fit_transform(merged_data[numeric_columns])
merged_data[numeric_columns]

        Ozone     solar       Age
0    0.000000  0.000000  0.708333
1    0.006579  0.006579  0.791667
2    0.013158  0.013158  0.791667
3    0.019737  0.019737  0.166667
6    0.039474  0.039474  0.687500
..        ...       ...       ...
298       NaN       NaN  0.333333
299       NaN       NaN  0.812500
300       NaN       NaN  0.583333
301       NaN       NaN  0.583333
302       NaN       NaN  0.187500

[303 rows x 3 columns]

In [30]:
# Load the merged dataset
merged_data = pd.read_csv('merged_dataset.csv')

# Display the first few rows of the merged dataset
print(merged_data.head())

   Ozone  solar  Wind   Temp  Month   Day  patient_id  Unnamed: 0  Age  Sex  \
0    2.0    1.0  41.0  190.0    7.4  67.0         1.0           1   63    1
1    3.0    2.0  36.0  118.0    8.0  72.0         2.0           2   67    1
2    4.0    3.0  12.0  149.0   12.6  74.0         3.0           3   67    1
3    5.0    4.0  18.0  313.0   11.5  62.0         5.0           4   37    1
4    8.0    7.0  23.0  299.0    8.6  65.0        21.0           7   62    0

   ... Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  Slope   Ca        Thal  AHD
0  ...  233    1        2    150      0      2.3      3  0.0       fixed   No
1  ...  286    0        2    108      1      1.5      2  3.0      normal  Yes
2  ...  229    0        2    129      1      2.6      2  2.0  reversable  Yes
3  ...  250    0        0    187      0      3.5      3  0.0      normal   No
4  ...  268    0        2    160      0      3.6      3  2.0      normal  Yes

[5 rows x 22 columns]

In [31]:
# Check for missing values
print(merged_data.isnull().sum())

Ozone         192
solar         192
Wind          192
Temp          192
Month         192
Day           192
patient_id    192
Unnamed: 0      0
Age             0
Sex             0
ChestPain       0
RestBP          0
Chol            0
Fbs             0
RestECG         0
MaxHR           0
ExAng           0
Oldpeak         0
Slope           0
Ca              4
Thal            2
AHD             0
dtype: int64

In [32]:
# Fill missing values using forward fill
merged_data = merged_data.fillna(method='ffill')
merged_data

,Ozone,solar,Wind,Temp,Month,Day,patient_id,Unnamed: 0,Age,Sex,...,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,2.0,1.0,41.0,190.0,7.4,67.0,1.000000e+00,1,63,1,...,233,1,2,150,0,2.3,3,0.0,fixed,No
1,3.0,2.0,36.0,118.0,8.0,72.0,2.000000e+00,2,67,1,...,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,4.0,3.0,12.0,149.0,12.6,74.0,3.000000e+00,3,67,1,...,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,5.0,4.0,18.0,313.0,11.5,62.0,5.000000e+00,4,37,1,...,250,0,0,187,0,3.5,3,0.0,normal,No
4,8.0,7.0,23.0,299.0,8.6,65.0,2.100000e+01,7,62,0,...,268,0,2,160,0,3.6,3,2.0,normal,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,299,45,1,...,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,300,68,1,...,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,301,57,1,...,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,302,57,0,...,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,303,38,1,...,175,0,0,173,0,0.0,1,1.0,normal,No

In [34]:
# Check for outliers (assuming 'age' column)
Q1 = merged_data['Age'].quantile(0.25)
Q3 = merged_data['Age'].quantile(0.75)
IQR = Q3 - Q1
outlier_threshold = 1.5 * IQR

In [35]:
outlier_threshold

19.5

In [37]:
# Save the error-corrected dataset to a new file
merged_data.to_csv('error_corrected_dataset.csv', index=False)

# Display the error-corrected dataset
print(merged_data.head())

   Ozone  solar  Wind   Temp  Month   Day  patient_id  Unnamed: 0  Age  Sex  \
0    2.0    1.0  41.0  190.0    7.4  67.0         1.0           1   63    1
1    3.0    2.0  36.0  118.0    8.0  72.0         2.0           2   67    1
2    4.0    3.0  12.0  149.0   12.6  74.0         3.0           3   67    1
3    5.0    4.0  18.0  313.0   11.5  62.0         5.0           4   37    1
4    8.0    7.0  23.0  299.0    8.6  65.0        21.0           7   62    0

   ... Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  Slope   Ca        Thal  AHD
0  ...  233    1        2    150      0      2.3      3  0.0       fixed   No
1  ...  286    0        2    108      1      1.5      2  3.0      normal  Yes
2  ...  229    0        2    129      1      2.6      2  2.0  reversable  Yes
3  ...  250    0        0    187      0      3.5      3  0.0      normal   No
4  ...  268    0        2    160      0      3.6      3  2.0      normal  Yes

[5 rows x 22 columns]

In [38]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [40]:
# Load the transformed dataset
transformed_data = pd.read_csv('error_corrected_dataset.csv')
transformed_data

,Ozone,solar,Wind,Temp,Month,Day,patient_id,Unnamed: 0,Age,Sex,...,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,2.0,1.0,41.0,190.0,7.4,67.0,1.000000e+00,1,63,1,...,233,1,2,150,0,2.3,3,0.0,fixed,No
1,3.0,2.0,36.0,118.0,8.0,72.0,2.000000e+00,2,67,1,...,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,4.0,3.0,12.0,149.0,12.6,74.0,3.000000e+00,3,67,1,...,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,5.0,4.0,18.0,313.0,11.5,62.0,5.000000e+00,4,37,1,...,250,0,0,187,0,3.5,3,0.0,normal,No
4,8.0,7.0,23.0,299.0,8.6,65.0,2.100000e+01,7,62,0,...,268,0,2,160,0,3.6,3,2.0,normal,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,299,45,1,...,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,300,68,1,...,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,301,57,1,...,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,302,57,0,...,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,154.0,153.0,20.0,223.0,11.5,68.0,6.833000e+31,303,38,1,...,175,0,0,173,0,0.0,1,1.0,normal,No